<div style="overflow:hidden;width:100%;height:300px;">
  <img style="width:100%;height:auto;max-width:100%;overflow:hidden;margin:-350px 0 0 0;" src="https://farm1.staticflickr.com/819/41410555582_6e04d82c38_b.jpg" />
</div>
<nav class="persistent-nav">

  <div>
    <ul>
      <li><a href ng-click="$ctrl.selectWelcome()"><span>Welcome</span></a></li>
      <li><a href ng-click="$ctrl.selectHowDidThisHappen()"><span>How Did This Happen?</span></a></li>
      <li><a href ng-click="$ctrl.selectVenueAndTravel()"><span>Venue and Travel</span></a></li>
      <li><a href ng-click="$ctrl.selectRegistry()"><span>Registry</span></a></li>
      <li><a href ng-click="$ctrl.selectPhotos()"><span>Pictures</span></a></li>
      <!--<li><a href ng-click="$ctrl.selectSurvey()"><span>Guest Survey</span></a></li>
      <li><a href ng-click="$ctrl.selectRsvp()"><span>RSVP</span></a></li>-->
    </ul>
  </div>
</nav>

<section class="major-quote">
  <p>{{$ctrl.quote.text}}<br/>- {{$ctrl.quote.author}}</p>
</section>

<div ng-if="$ctrl.selectedPage == 'welcome'">
  <welcome-information></welcome-information>
</div>
<div ng-if="$ctrl.selectedPage == 'how-did-this-happen'">
  <story-so-far></story-so-far>
</div>
<div ng-if="$ctrl.selectedPage == 'venue-and-travel'">
  <venue-information></venue-information>
</div>
<div ng-if="$ctrl.selectedPage == 'registry'">
  <registry></registry>
</div>
<!--<div ng-if="$ctrl.selectedPage == 'photos'">
  <pictures></pictures>
</div>
<div ng-if="$ctrl.selectedPage == 'survey'">
  <div class="error"><h1>The survey is under construction.</h1></div>
</div>
<div ng-if="$ctrl.selectedPage == 'rsvp'">
  <rsvp></rsvp>
</div>-->

<footer>
  
</footer>