<article style="text-align: center;font-variant: all-small-caps;">

  <h2>Schedule of Events</h2>

  <br />
  
  <h3>Thursday February 21: Rehearsal Dinner</h3>
  <p>
    Location - Disney Springs' Raglan Road <br />
    Time - 5 PM EST <br />
    Attire - Just... Wear <i>something</i> (Looking at you Sam!) <br />
    Who Attends - Wedding party and guest <br /><br />
    <i>Suggestions from the Bride: Book lodging near Disney Springs</i>
  </p>

  <br />

  <h3>Friday February 22: Bridal Brunch and Epcot Shenanigans</h3>

  <p>
    Location - Disneys' Boardwalk <br />
    Time - 10:30 AM <br />
    Attire - Casual <br />
    Who Attends - Bridesmaids <br />
  </p>

  <br />

  <h3>Saturday February 23: Day Of</h3>
  <p>
    Location - Tavares Pavilion on the Lake <br />
    Ceremony - 4:30 pm - 5:00 pm <br />
    Cocktail Hour - 5:00 pm - 6:00 pm <br />
    Dinner / Dancing - 6:00 pm - 10:00 pm <br />
    Attire - Cocktail attire. No blue jeans <br />
  </p>
  
  <br />

  <h3>Saturday February 23: Afterparty!!!</h3>
  <p>
    Location - TBD <br />
    Time - 10:00 pm until you drop <br />
    Attire - The hell if we care
  </p>
</article>