<h2>Registry</h2>

<article>
  <a href="https://www.potterybarn.com/registry/ltddhw9qdr/registry-list.html" target="_blank"><img src="http://logonoid.com/images/thumbs/pottery-barn-logo.png" alt="Pottery Barn Logo" /></a>
  <a href="https://www.macys.com/wgl/registry/guest/6932216" target="_blank"><img src="http://logonoid.com/images/thumbs/macys-logo.png"  alt="Macy's Logo" /></a>
  <a href="http://tgt.gifts/dietrich-kusner" target="_blank"><img src="http://logonoid.com/images/thumbs/target-logo.png"  alt="Target Logo" /></a>
</article>