<h2>Welcome Information</h2>

<article>
    <p>
      Hello! Welcome to our wedding website! If you are reading this, that means that you were <i>probably</i> invited to celebrate this momentous occasion with us.
      Before we do anything else, we would first like to thank you (whomever you are). Whether you are our parents who are helping to make all of this possible, our friends
      who were with us throughout this journey, or a kind stranger who stumbled across this page and thought to read this far, thank you.
    </p>
</article>
<article>
    <p>
      If you would be so kind as to check on the left side of this page, you'll notice several links:
    </p>
    <ul>
      <li><b>Welcome -</b> This is the page that we're currently on! Funny how that works...</li>
      <li><b>How Did This Happen? -</b> A wonderfully riveting tale of chivalry, romance and possibly dragons: The chronicling of how Candice convinced Steve she was worthy of his love!</li>
      <li><b>Venue and Travel -</b> Where are you going? How do you get there? What do you do once you're there? Click here to find out all of this, <i>and more....</i></li>
      <li><b>Registry -</b> Hey, we've registered for stuff! And also <i>things</i>! Want to get us something that we probably won't immediately return? Check here for what's available.</li>
      <li><b>Pictures -</b> Pictures, pictures, pictures. Fairly self-explanatory, wouldn't you say?</li>
      <!--<li><b>Guest Survey -</b> Planning is <i>hard</i>. If you visitors could answer a few questions here, that would go far toward helping us figure this thing out!</li>
      <li><b>RSVP -</b> We're hip, we're stylish. We do our RSVP'n online! You will receive some information with your invitation for how to proceed here. Once you do, click on over!</li>-->
    </ul>
</article>
<article>
    <p>
      As you can see, these links are the gateway to our event. Any information that you could possibly need leading up to and during the great Dietrich-Kusner wedding of 2019 can
      be found at one of these links. Be free, click around. But most of all, <i>have fun!</i>
    </p>
</article>

<article>
  <div>
    <iframe style="position: relative; top: 0; left: 0; width: 100%; height: 100%;" src="https://flickrembed.com/cms_embed.php?source=flickr&layout=responsive&input=72157695642899025&sort=0&by=album&theme=carousel&scale=fit&limit=50&skin=alexis-light&autoplay=true" scrolling="no" frameborder="0" allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"><p>Compare the best prices at <a  href="https://www.sellcompare.co.uk">Sell Compare</a> and get the most money for your old handset</p><small>Powered by <a href="https://flickrembed.com">flickr embed</a>.</small></iframe><script type="text/javascript">function showpics(){var a=$("#box").val();$.getJSON("http://api.flickr.com/services/feeds/photos_public.gne?tags="+a+"&tagmode=any&format=json&jsoncallback=?",function(a){$("#images").hide().html(a).fadeIn("fast"),$.each(a.items,function(a,e){$("<img/>").attr("src",e.media.m).appendTo("#images")})})}</script>
  </div>
</article>