<h2>Welcome Information</h2>

<article>
  <div style="height:100%">
    <p>
      Hello! Welcome to our wedding website! If you are reading this, that means that you were <i>probably</i> invited to celebrate this momentous occasion with us.
      Before we do anything else, we would first like to thank you (whomever you are). Whether you are our parents who are helping to make all of this possible, our friends
      who were with us throughout this journey, or a kind stranger who stumbled across this page and thought to read this far, thank you.
    </p>

    <p>
      If you would be so kind as to check on the left side of this page, you'll notice several links:
    </p>
    <ul>
      <li><b>Welcome -</b> This is the page that we're currently on! Funny how that works...</li>
      <li><b>How Did This Happen? -</b> A wonderfully riveting tale of chivalry, romance and possibly dragons: The chronicling of how Candice convinced Steve she was worthy of his love!</li>
      <li><b>Venue and Travel -</b> Where are you going? How do you get there? What do you do once you're there? Click here to find out all of this, <i>and more....</i></li>
      <li><b>Registry -</b> Are you so kind as to purchase for us a gift? Want to get us something that we probably won't immediately return? Check here for what's available.</li>
    </ul>
    <p>
      As you can see, these links are the gateway to our event. Any information that you could possibly need leading up to and during the great Kusner-Dietrich wedding of 2019 can
      be found at one of these links. Be free, click around. But most of all, <i>have fun!</i>
    </p>
  </div>
  
</article>