<h2>Story So Far...</h2>

<article>
  <div ng-show="$ctrl.author == 'steve'">
    <p>
      Interested in our story are you? Well strap in and prepare yourselves. This here is one <i>wild</i> ride. But before we get going, make sure you choose which point of view you'd like to hear it told from. Really think about it. Do you want to read something of epic grandeur, flourish and beauty? Or something weird and vague such as Candice might write...
    </p>
    <p>
      If you'd really like to read Candice's version, well, your funeral...
    </p>
    <p>
      <div style="text-align:center;"><button class="story-time candice" ng-click="$ctrl.author = 'candice'">Read Candice's Version</button></div>
    </p>
  </div>
  <div ng-show="$ctrl.author == 'candice'">
    <p>
      How many of you out there can say that they know the real story behind this magical day? The trials and tribulations that this relationship faced? The various situations and circumstances that turned this improbability into a reality? You're in the right place. Below, you can find a detailed accounting of the events leading up to this day from the view point of the bride herself.
    </p>
    <p>
      Ready to turn this story up a notch? Come on over...
    </p>
    <p>
      <div style="text-align:center;"><button class="story-time steve" ng-click="$ctrl.author = 'steve'">Read Steve's Version</button></div>
    </p>
  </div>
</article>

<div ng-show="$ctrl.author == 'steve'">
  <div class="spacer-15-px"></div>
  
  <article>
  <h3>A tale as told by Steve</h3>
  <p>
    Alright friends, family - other people... Sit down and lean back because there's a story on the horizon!
  </p>

  <p>
    Most of you reading this know Candice and I. You probably even know a good deal about how we met. But do you know the whole story? I doubt it very much. You see, every decision we make in our lives, no matter how seemingly small, can have some profound impacts on our future. I'm a graduate of The Pennsylvania State Universities school of Computer Engineering. I spent 4 years there in good ol' Happy Valley, from 2008 to 2012. I learned a little, partied a litt... ok a lot, and I made experiences that will last a lifetime. There was one thing that I was severely lacking in though, real world experience. Many of friends were getting these mythical <i>internships</i> and those weird co-ops (what the hell even are those by the way?) and I'm going home each summer and doing whatever odd-end job I find.
  </p>
  </article>
  <article>
  <p>
    Fast-forward to 2011. I'm a junior, this is seemingly my last chance to get work experience prior to graduation, and I've got nothing. On a whim, I applied for the Disney College Program. I love Disney, sounded fun, better than sitting around Philadelphia all summer, delivering pizza. Wouldn't ya know, they call me back and offer me the internship? Sweet! Easy decision right? I'm betting what many people don't know, is that at the same time, I was being offered an engineering role with the United States Air Force. This was another whim, I had nothing on the horizon, I'd always considered it... why not? In typical US Military fashion (meaning no disrespect vets), they did their best to make it seem far too good to be true. And honestly, I wanted to do it. The only thing that scared me, was the prospect of constantly moving to places that I had no say in. I think it's needless to say that I went with Disney.
  </p>
  </article>
  <article>
  <p>
    So, was this the right choice? At the time, hell no. Career wise, the Air Force would have been far and away the better option. But I went with my gut. And that's how I ended up in the car with my parents, driving down to Orlando, FL in May of 2011. Show up for the first day on the program, check in to housing at Vista Way (the only way), go through our orientation, the works. I meet up with my roommates for the first time, some are pretty chill guys. One of which (MJ) says to us all, and I'll never forget this - "Goal of orientation is to make friends with as many girls as possible, so we can throw parties." Now I'm paraphrasing, but you get the idea. So here I am, thinking "Dammit... I need to get my game going and impress these guys."
  </p>
  </article>
  <article>
  <p>
    Skip to Downtown Disney orientation - I get there early, alone at a table, so I pull my phone out and start streaking for the cash (never won). Enter Candice. I look up, and this prowls on in through the door, lookin' fine as hell with that preppy strut in her step and her designer clothes. Looking around you can't help but think her presence alone is putting the rest of the room to shame. Then she sits down at my table, we say our hello's. And all I can think in the back of my head is "God, I already hate this girl."
  </p>
  </article>
  <article>
    <p>
      Oh my God Steve - what are you doing to me? Love at first sight! Instant connection! All that jazz! <b>Grow up kids.</b> That's just not the way of the world sometimes. To be fair, we did spend much of that orientation hanging out. I almost wrote her off when she started droning on about her sorority (ugh, sorority girls), but the fact is - the rest of the class was distinctly uninteresting. So I persisted, thinking I can at least grab her number and accomplish what I set out to do. WRONG. We parted ways, I forget to ask, and I go home defeated.
    </p>
  </article>

  </article>
  <article>
    <p>
      What happens next? Well you all know Facebook right? Social media giant, big in the news these days... That was a thing for me once upon a time. I log on and hey, who is the Candice girl friend requesting me? It IS her, how the hell did she find me considering I <i>never gave her my last name...</i> I know, super creepy right? True, but also a second chance for Steve! Pop open the messenger, hit her with the old school AIM game. It took mere minutes, and we were on the next bus to the parks together. Yeah, my AIM game is THAT good.
    </p>

  </article>
  <article>
    <p>
      I could tell you about how I almost missed that bus, but I'll save that story for another. We could detail all of our time together in Disney, but it would fill several books (and frankly, I've typed enough already). So I'm going to give you the short version - First (real) date we went to Italy (yes, in Epcot jerks), vacationed in Sanabel, spent 8 months together driving all over Orlando FL and taking advantage of our internship. We were broke as **** 20-somethings without a care in the world and loving every second of it.
    </p>
  </article>
  <article>
    <p>
      But all good things must eventually end. See, come January 2012 - I had to return to school in State College, PA. Candice was going back home to Minneapolis, MN. So I did the only logical thing that someone in my position would do - broke up with her.
    </p>
  </article>
  <article>
    <p>
      Actually - let me amend that statement. I <i>tried</i> to break up with her. I believe the exact reaction was for her to laugh in my face? It was a pretty surreal experience because nothing went as expected. I was so taken aback that I wasn't sure how to proceed. See, I was prepared for all the normal reactions. But you could never quite say Candice is normal. Next thing I know - I'm in a long (LONG!!!) distance relationship with a girl I've known less than a year.
    </p>
  </article>
  <article>
    <p>
      Alright now - I'm going to fast forward one last time and get to the good parts. Before coming back to Florida - I had lived in Upstate New York, State College and Philadelphia. Candice floated between NYC, State College for a time, then Philadelphia as well. Despite the overlaps, we really didn't spend as much time living together as could be expected. Our relationship hits some trials and tribulations. There were definitely some rough bumps. Even after we made it back to Orlando.
    </p>
  </article>
  <article>
    <p>
      But now we're here. We both grew up a <b>lot</b> during our time together. I'd been putting off something I'd known for a long, long time (mostly to piss off my Mom really). I was going to marry this girl. In fact, I subconsciously made this decision way back in the early days of our relationship when she pointed out a Disney wedding pin and said to me "is it weird if I kind of want to get that so that I'll have it when I get married?" Yeah I'm talking barely months into our relationship, and she says <i>that</i>. Everything I had learned in life said RUN NOW GET OUT QUICK. But my body wouldn't move. I stood there, awkwardly laughed, then when the shock wore off I filed that one away. Candice of course, in typical Candice fashion, completely forgot about that.
    </p>
  </article>
  <article>
    <p>
      That's the reason it was so confusing to her when on September 11 (of all days) 2017, I handed her that pin. Then in the middle of Walt Disneys apartment, the man whom without him we'd never have even met, she was VERY confused when I dropped to my knee. Actually, it was kind of annoying how confused she was. "What are you doing?" "I just gave you a wedding pin and now I'm on my knee, fumbling with a box in my pocket. WHAT THE **** DO YOU THINK I'M DOING." She eventually caught on. She said yes. <i>I think she even cried.</i>
    </p>
  </article>
  <article>
    <p>
      I could go on in detail about any of these events, and hundreds of others that occurred through the course of our relationship. But these are the important ones. The ones that mean the most to me. The ones that stick out when I try to think of our story. It's not the vacations and the holidays. It's not us trying to out-do each other with extravagant gifts. It's those moments where the road splits, and you don't know which way leads to safety. Choosing Disney over the air force, choosing to ask her to the parks, keeping a long distance relationship (multiple freaking times I'll add), bringing her to State College, to Philly, even choosing to come back to Florida. Decisions that basically amounted to coin flips. And yet, here I am, writing this in the office of our home, where we intend to start our next story.
    </p>
  </article>
  
  <article>
    <p>
      And then on February 23...
      <br />
      <img src="https://imgs.xkcd.com/comics/extrapolating.png">
    </p>
  </article>
  
</div>

<div ng-show="$ctrl.author == 'candice'">

</div>