<h2>Story So Far...</h2>

<article>
  <div ng-show="$ctrl.author == 'steve'">
    <p>
      Interested in our story are you? Well strap in and prepare yourselves. This here is one <i>wild</i> ride. But before we get going, make sure you choose which point of view you'd like to hear it told from. Really think about it. Do you want to read something of epic grandeur, flourish and beauty? Or something weird and vague such as Candice might write...
    </p>
    <p>
      If you'd really like to read Candice's version, well, your funeral:<br /><button ng-click="$ctrl.author = 'candice'">Read Candice's Version</button>
    </p>
  </div>
  <div ng-show="$ctrl.author == 'candice'">
    <p>
      How many of you out there can say that they know the real story behind this magical day? The trials and tribulations that this relationship faced? The various situations and circumstances that turned this improbability into a reality? You're in the right place. Below, you can find a detailed accounting of the events leading up to this day from the view point of the bride herself.
    </p>
    <p>
      Ready to turn this story up a notch? Come on over:<br /><button ng-click="$ctrl.author = 'steve'">Read Steve's Version</button>
    </p>
  </div>
</article>

<div ng-show="$ctrl.author == 'steve'">
  <div class="spacer-15-px"></div>
  <h3>A tale as told by Steve</h3>

  <div ng-include="'./storySteve.html'"></div>
    <!--
    <img src="https://imgs.xkcd.com/comics/extrapolating.png">
    -->
  
</div>

<div ng-show="$ctrl.author == 'candice'">

</div>