<h2>Venue and Travel Information</h2>

<article>
  <h3>Tavares Pavilion on the Lake</h3>
  <p>
    <!--<iframe style="float:left;margin-right:20px;" height="301" width="451" src="/images/Pavilion.jpg"></iframe>-->
    <figure style="float:left;"><img src="/images/Pavilion.jpg" width="451" height="301"><figcaption>Tavares Pavilion on the Lake (source from Tavares Pavilion website)</figcaption></figure>
    The venue of choice for this momentous occasion is going to be the beautiful Pavilion on the Lake in Tavares, FL. And yes, we do realize that this is not Disney. Thus, we have put together some information on the area such that you may educate yourselves and make the best preparations possible!
  </p>

  <p>
    If you would like more information on the venue itself, please <a href="https://www.tavares.org/1078/Tavares-Pavilion-on-the-Lake">click here</a>. 
  </p>
</article>

<article>
  <h3>Directions</h3>
  <p>
    <figure style="float:right"><iframe width="600" height="450"
      src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyDwwcGoK669skYK9dzcGbafOEstR0-CQic&origin=Orlando+International+Airport+(MCO),+Jeff+Fuqua+Boulevard,+Orlando,+FL&destination=Tavares+Pavilion+on+the+Lake,+South+Disston+Avenue,+Tavares,+FL">
    </iframe><figcaption>Directions from Orlando, MCO to the venue</figcaption></figure>
    The most straightforward option would be to come in from Orlando via the airport. As the directions will convey, this gives about an hours drive to the venue.
  </p>

  <p>
    There is another airport much closer to the venue, Leesburg International (LEE), that you are welcome to try. However, A cursory search for flights from PHL and MSP came back with no results. Other airports in the area do not provide you much more than Orlando MCO will, though you are more than welcome to try!
  </p>

  <p>
    And if you just don't like flying, well... of course, there's always <i>my way...</i>
  </p>
</article>

<article>
  <h3>Hotel</h3>
  <p>
    Tavares and the surrounding area is home to an assortment of fine hotels and inns. Your best option though, would be to go with <a href="http://www.keywestlakedora.com/">Key West Resort on Lake Dora</a>. Yes, it is called Key West Resort. No, it is not in Key West. If you want to see Key West, hop on in your car. It's only about 12 hours from Tavares!
  </p>

  <p>
    <b>Read This Before Booking!</b> When you've decided to book your reservation, be sure to do so over the phone, and let them know that you are with the "Kusner-Dietrich" wedding! <b>USE THIS NUMBER: (352)-508-5344</b>. It is the reservation center. The number on the website will <b>NOT</b> be able to book you for our block. We set aside a block of rooms that offer a 10% discount, but this can only be accomplished over the phone. The block closes 1 month prior, which means you need to make your reservations before <b>January 23, 2019</b>.
  </p>

  <p>
    While there should be enough rooms available in the block, they <i>are</i> subject to availability. The styles of room are as follows: standard 1 king bed, standard 1 king 1 queen, upgraded (whatever the hell that means), and they threw a few 2 bedroom suites in there apparently, if that's your kind of thing. If you require one of these specific styles, I'd recommend calling earlier than later.
  </p>

  <p>
    A little concerned about shacking up at some non-mainstream resort in podunk Tavares, FL? Have no fear, we got you fam. First of all, Tavares may be suprising when you first drive through, but it's surprisingly lively. Beyond that, it is just a beautiful area. 
  </p>
</article>

<!-- AIzaSyDwwcGoK669skYK9dzcGbafOEstR0-CQic -->